NAVER_CLIENT_ID=YOUR_NAVER_CLIENT_ID
NAVER_CLIENT_SECRET=YOUR_NAVER_CLIENT_SECRET

GROQ_API_KEY_1=YOUR_GROQ_API_KEY
GROQ_API_KEY_2=
GROQ_API_KEY_3=

NEWS_ORACLE_CLIENT_LIB_DIR=C:\path\to\instantclient
NEWS_ORACLE_WALLET_PATH=C:\path\to\wallet
NEWS_ORACLE_DB_USER=YOUR_ORACLE_USER
NEWS_ORACLE_DB_PASSWORD=YOUR_ORACLE_PASSWORD
NEWS_ORACLE_DB_DSN=YOUR_ORACLE_DSN
