GROQ_API_KEY=YOUR_GROQ_API_KEY
GROQ_API_KEY_1=YOUR_GROQ_API_KEY
GROQ_API_KEY_2=
GROQ_API_KEY_3=

ARTICLE_BUILDER_ORACLE_USER=YOUR_ORACLE_USER
ARTICLE_BUILDER_ORACLE_PASSWORD=YOUR_ORACLE_PASSWORD
ARTICLE_BUILDER_ORACLE_DSN=YOUR_ORACLE_DSN
ARTICLE_BUILDER_ORACLE_CONFIG_DIR=C:\path\to\wallet
ARTICLE_BUILDER_ORACLE_WALLET_LOCATION=C:\path\to\wallet
ARTICLE_BUILDER_ORACLE_WALLET_PASSWORD=YOUR_ORACLE_WALLET_PASSWORD
