<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">

    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
</head>
<body>


<div th:replace="~{fragments/guestHeader :: guestHeader('login')}"></div>

<div class="page">
    <div class="loginWrap">
        <div class="loginCard">
            <h1 class="loginTitle">로그인</h1>
            <p class="loginDesc">
                실시간 투자 인사이트 서비스를 시작해보세요.
            </p>

            <form name="loginForm" id="loginForm" th:action="@{/login}" method="post" onsubmit="return checkLogin();">
                <div class="field">
                    <label for="userEmail" class="fieldLabel">이메일</label>
                    <input type="email" name="userEmail" id="userEmail" class="inputBox" placeholder="이메일 입력">
                </div>

                <div class="field">
                    <label for="userPassword" class="fieldLabel">비밀번호</label>
                    <input type="password" name="userPassword" id="userPassword" class="inputBox" placeholder="비밀번호 입력">
                </div>

                <div class="loginErrorText" th:if="${param.error}">
                    이메일 또는 비밀번호가 올바르지 않습니다.
                </div>

                <div class="loginErrorText" th:if="${param.caseError}">
                    이메일의 @ 앞부분 대소문자가 가입 정보와 다릅니다.
                </div>

                <button type="submit" class="loginBtn">로그인</button>


                <div class="loginOptionRow">
                    <label class="saveId">
                        <input type="checkbox" name="saveId" id="saveId">
                        <span>이메일 저장</span>
                    </label>

                    <div class="findLinks">
                        <a th:href="@{/findEmail}">이메일 찾기</a>
                        <span>|</span>
                        <a th:href="@{/findPassword}">비밀번호 찾기</a>
                    </div>
                </div>

            </form>

            <div class="bottomArea">
                아직 회원이 아니신가요?
                <a th:href="@{/register}">회원가입</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>